.jumbo-section {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;

    .flag {
        text-align: center;
        width: 185px;
        background-color: #0282F9;
        padding: 10px;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        top: 95%;
        left: 16%;
    }

    .flag-detail{
        border: 2px solid #0282F9;
        position: relative;
        width: 185px;
        top: 61%;
        left: 12%;

        img{
            height: 200px;
        }
    }
   
}